[submodule "src/main/cpp/app/gemmbitserial"]
	path = src/main/resources/cpp/app/gemmbitserial
	url = https://github.com/maltanar/gemmbitserial.git
[submodule "fpga-tidbits"]
	path = fpga-tidbits
	url = https://github.com/maltanar/fpga-tidbits.git
